.page{
  background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: -9px;
}

.loginform {
  position: absolute;
	bottom: 10%;
  height: 90%;
	width: 80%;
	max-width: 500px;
  max-height: 1000px;
  border-radius: 10px;
	left: 50%;
  top: 6%;
	transform: translate(-50%, 0);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.buttonWrap{
  margin-top: 7px;
}

.buttonWrap2{
  margin-top: 70%;
}

.buttonWrap3{
  margin-top: 10%;
}

.titleWrap{
  margin-top: 30%;
}

.blue-box {
  outline: none;
  background: #4285F4;
  width: 60%;
  max-width: 270px;
  border: 0;
  border-radius: 10px;
  padding: 9px 20px;
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 550;
  line-height: 1.6em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 7px auto;
  display: block;
  margin-top: 2%;
}

.blue-box2 {
  outline: none;
  background: #4285F4;
  width: 60%;
  max-width: 270px;
  border: 0;
  border-radius: 10px;
  padding: 9px 20px;
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 550;
  line-height: 1.6em;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12%;
  }

.blue-box:disabled{
  background: #adccff;
}

.blue-box2:disabled{
  background: #adccff;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #4285F4;
  padding: 0 18%;
}


.inputWrap {
  width: 60%;
  display: flex;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #e2e0e0;
  margin: 12px auto 12px;
  display: block;
}

.inputWrap:focus-within {
  border: 1px solid #4285F4;
}

.input {
  width: 80%;
  outline: none;
  border: none;
  height: 13px;
  font-size: 10px;
  font-weight: 400;
}

.forgotPw {
  font-size: 10px;
  margin: 8px auto;
  color: #4285F4;
}

.errMsg {
  font-size: 7px;
  color: rgb(207, 13, 13); 
  display: inline-block;
  margin-left: 5px
}

.errBtn {
  outline: none;
  background: #4285F4;
  width: 63px;
  height: 20px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 400;
  line-height: 1.2em;
  cursor: pointer;
  margin-left: 18%;
  display: inline-block;
}

.errBtn2 {
  outline: none;
  background: #4285F4;
  width: 50px;
  min-width: 40px;
  height: 33px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 400;
  line-height: 1.2em;
  cursor: pointer;
  margin-left: 6%;
  margin-top: 3.5%;
  position: relative;
  display: inline-block;
} 

.errBtn3 {
  outline: none;
  background: #4285F4;
  width: 63px;
  height: 20px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 400;
  line-height: 1.2em;
  cursor: pointer;
  position: absolute;
  top: 3.3%;
  right: 8.7%;
  display: inline-block;
  }