.time-reservation-table {
  position: absolute;
  width: 92%;
  height: 60%;
  top: 45%;
  left: 50%;
  min-width: 100px;
  min-height: 100px;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  text-align: center;
  font-size: 70%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.time-reservation-table th,
.time-reservation-table td {
  border: 1px solid rgb(156, 191, 224);
  padding: 3%;
}
  
.time-reservation-table th {
  background-color: #4285F4;
  color : white
}

.time-reservation-table td {
  background-color: rgb(255, 255, 255);
  color:  #4285F4;
}
  
.time-reservation-table .booked {
  background-color: rgb(139, 246, 162);
  color: #ddd;
}

.time-reservation-table tr:nth-child(even) {
  background-color: #ffffff;
}

.time-reservation-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.time-reservation-table tr:hover {
  background-color: rgb(255, 255, 255);
} 

.otherbooked {
  background-color: red;
}

.isReserved {
  background-color: red;
}